*{
            box-sizing: border-box;
         }
         [class*="col-"]{
            width: 100%;
         }

         @media only screen and (min-width: 768px){
      .col-1{width: 8.33%}
      .col-2{width: 16.66%}
      .col-3{width: 25%}
      .col-4{width: 33.33%}
      .col-5{width: 41.66%}
      .col-6{width: 50%}
      .col-7{width: 58.33%}
      .col-8{width: 66.66%}
      .col-9{width: 75%}
      .col-10{width: 83.33%}
      .col-11{width: 91.66%}
      .col-12{width: 100%}
   }
   /*
      @media only screen and (min-width:998px){
      .col-s-1{width: 8.33%}
      .col-s-2{width: 16.66%}
      .col-s-3{width: 25%}
      .col-s-4{width: 33.33%}
      .col-s-5{width: 41.66%}
      .col-s-6{width: 50%}
      .col-s-7{width: 58.33%}
      .col-s-8{width: 66.66%}
      .col-s-9{width: 75%}
      .col-s-10{width: 83.33%}
      .col-s-11{width: 91.66%}
      .col-s-12{width: 100%}
      }
   */
       .header{
                height: 300px;
                background-color: #dd845a;
                
                margin-top: 100px;
             }
       .text{
                color: white;
                padding-left: 25px;
             }
       .engage_now{
                
                color: white;
                background-color: orange;
               text-decoration: none;
                border-radius: 5px;
                margin: 25px;
             }
             
             
             
       .nav_panel{
               display: flex;
               align-items: center;
               position: fixed;
               top: 0; left: 0; right: 0;
               background-color: white;
             }
       .nav_menu{                 list-style-type: none;
                 padding: 0;
                 margin: 20px;
                 overflow: hidden;
                background-color: white;
   }
       .nav_menu li{
                 float: right;
               width: 150px;
              text-align: center;
   }
       .nav_menu li a{
               display: block;
              padding: 20px 15px;
              text-decoration: none;
   }
       .nav_menu li a.active{
                background-color: lightgray;
                
   }

      
       .img1{
         
         height: 250px;
         float: left;
         position: ;
      }
       .text1{
         position: absolute;
         font-size: 50px;
         text-align: center;
         color: white;
         padding: 80px;
         
      }

       .img2{
         
         height: 250px;
         float: left;
         
      }
       .text2{
         position: absolute;
         font-size: 50px;
         text-align: center;
         color: white;
         padding: 80px;
         
         
      }

       .img3{
         
         height: 250px;
         float: left;
         
      }
       .text3{
         position: absolute;
         font-size: 50px;
         text-align: center;
         color: white;
         padding: 80px;
         
      }
         
       .container::after {
       content: "";
       clear: both;
      display: table;}

       .footer{
         float: left;
         padding: 100px;
         
      }
       .list{
         list-style-type: none;


      }
       button{
         background-color: orange;
         border: none;
      }